BASE_URL=https://finspheresolutions.com
API_BASE_URL=https://finspheresolutions.com
LOGIN_PATH=/api/auth/signin

TEST_EMAIL=tselisonapo10@gmail.com
TEST_PASSWORD=1990M@rch
COMPANY_ID=8
TEST_CUSTOMER_ID=4
TEST_VENDOR_ID=1

BANK_ACCOUNT_CODE=BS_CA_1000
AR_CONTROL_CODE=BS_CA_9002
AP_CONTROL_CODE=BS_CL_2200
VAT_OUTPUT_CODE=BS_CL_2310

REVENUE_ACCOUNT_CODE=
EXPENSE_ACCOUNT_CODE=

PPE_ASSET_ACCOUNT_CODE=BS_NCA_1105
PPE_ACCUM_DEPR_ACCOUNT_CODE=BS_NCA_1524
PPE_DEPR_EXPENSE_ACCOUNT_CODE=
PPE_ASSET_CATEGORY=Computer Equipment

DB_HOST=localhost
DB_PORT=5432
DB_NAME=moagiora_ifrs_master
DB_USER=moagiora_finsage
DB_PASSWORD=1[990M+rch)87rTx.

RUN_MODE=live_safe
REQUEST_TIMEOUT=30
VERIFY_SSL=true
HEADLESS=true

TEST_PREFIX=BOT-TEST
DEFAULT_CURRENCY=ZAR